# Source code
src/
lib/
playground/

# Development files
tsconfig.json
jest.config.ts
.eslintrc.js
.eslintignore
.editorconfig
.prettierrc
commitlint.config.ts

# Tests
**/__tests__/
**/tests/
coverage/
*.test.ts
*.spec.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore
.gitattributes

# CI/CD
.github/
.travis.yml
.gitlab-ci.yml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Development
node_modules/
pnpm-lock.yaml 